.whatsapp-float {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background: #25D366;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  z-index: 9999;
  transition: 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}